/* mulish google font  */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  max-width: 1170px;
  margin: 60px auto;
  font-family: "Mulish", sans-serif;
}

/* nav bar  */
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.nav-bar i {
  color: #12132d99;
  background-color: #12132d08;
  padding: 18px 16px;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 12px;
  border: 1px solid #0307121a;
}

/* sign up button  */

.btn-sign {
  background-color: #797dfc;
  padding: 18px 40px;
  border: none;
  border-radius: 50px;
  font-size: 24px;

  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

/* banner section -------------------  */

.banner-section {
  background-image: url("/images/bgbanner.png");
  background-color: #12132d;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin: 50px auto 100px auto;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-head {
  font-family: "Mulish", sans-serif;
  font-size: 64px;
  font-weight: 900;
  color: white;
  line-height: 86px;
  margin: 0;
}

.section-head span {
  color: #797dfc;
}

.banner-section p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.btn-serach {
  background-color: #797dfc;
  padding: 10px 27px;
  border: none;
  border-radius: 46px;

  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 2px;
}

.btn-inp-container {
  max-width: 400px;
  position: relative;
}

.btn-inp-container input {
  padding: 18px 225px 18px 20px;
  border: none;
  outline: none;
  border-radius: 50px;
}

/* all post s3ection -----------------------------  */

.allpost-container {
  display: flex;
  gap: 24px;
}

.allpost-main h1 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.allpost-main p {
  width: 60%;
  margin: 24px auto;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* post contaner  */
#parent-container-post {
  flex: 2;
}
.post-container {
  background-color: #797dfc1a;
  padding: 40px;
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
  /* align-items: flex-start; */
  border-radius: 24px;

  margin-bottom: 24px;
}

.post-container-top-part {
  display: flex;
  align-items: end;
  gap: 20px;
}

.category-author-cont {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  margin-left: 16px;
}

.post-container-top-part h6 {
  font-size: 16px;
  font-weight: 400;
  color: #12132dcc;
}
.post-container h1 {
  font-size: 20px;
  font-weight: 700;
  color: #12132d;
}

.post-container p {
  text-align: left;

  width: 100%;
  margin: 20px 0;
}

.post-container img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

/* post stat part bottom ---------  */
.post-stat-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.post-stat-container .post-stat {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* .post-stat-container .post-stat i {
  color: #12132d99;
  width: 28px;
  height: 28px;
  margin: 0;
} */

/* click post button styele  */

.click-post-btn {
  margin-left: auto;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #10b981;
  color: #fff;
  border: none;
}

/* sidebar at right ----  */
.post-container-sidebar {
  display: flex;
  flex: 1;
  gap: 160px;
  padding: 24px;
  background-color: #12132d0d;
  border-radius: 24px;
}

.post-container-sidebar h2 {
  font-size: 20px;
  font-weight: 700;
  color: #12132d;
}

.post-container-sidebar h4 {
  font-size: 16px;
  font-weight: 400;
  color: #12132d99;
}

/*  join forum -----  */

.forum-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 90px;
  margin: 100px auto;
  background-color: #12132d;
  border-radius: 32px;
  color: white;
}

.forum-section h1 {
  font-weight: 900;
  font-size: 40px;
}

.forum-section h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* latest post ------  */

.latest-post h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.latest-post p {
  width: 70%;
  margin: 24px auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

/* latest post container ----  */

.latest-post-container {
  display: flex;
}

.latest-post-container .date-container {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 200px;
  margin: 0;
}

/* footer section -------------------------------  */

.footer {
  text-align: center;
  background-color: #bebec22f;
  padding: 100px;
  width: 100%;
}

.footer .social-icon {
  display: flex;
  gap: 36px;

  margin: 20px auto;
  justify-content: center;
  color: #12132d;
  font-size: 24px;
  margin: 32px auto 48px auto;
}

#social-media-connect {
  width: 70%;
  margin: 16px auto 32px auto;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}
#copyright {
  color: #12132da1;
  font-size: 16px;
  font-weight: 300;
  margin-top: 48px;
}
